<div class="container">
    <div class="frame">
      <div class="nav">
        <ul class="links">
          <li class="signin-active" (click)="route('auth/login')"><a class="btn">Forgot Password</a></li>
         
        </ul>
      </div>
      
      <div ng-app ng-init="checked = false">
          <form class="form-signin" action="" method="post" name="form">
            <label class="auth-form-label"  for="email">Email</label>
            <input class="form-styling" [(ngModel)]="formData.email" type="text"  #email="ngModel" type="text" name="email" placeholder="Enter a valid email" required/>
            <span *ngIf="email.invalid && email.touched" style="color: red; font-size: 12px;">*this.field is required</span>
          
            <div class="btn-animate">
              <app-loader *ngIf="loader"></app-loader>
              <a class="btn-signin" *ngIf="!loader" (click)="get_otp()">Get OTP</a>
            </div>
          </form>
          
            <form class="form-signup" action="" method="post" name="form">
              
            </form>
        
        </div>
        
      <div class="forgot">
        <a (click)="route('auth/login')">Login</a>
      </div>
 
    </div>
      
  </div>