
  
 
<div class="upload-section">
 
    <div class="section">
      <div class="upload-card">

        <div class="card" *ngFor="let row of response">

          <div>
            <div class="card-header">
              <div class="thumbnail">
                  <img src={{row.thumbnailPath}} alt="">
              </div>
            </div>
  
            <div class="card-content">
              <div class="type">{{row.type}}</div>
              <div class="title">{{row.title}}</div>
              <div class="description" >
                {{row.description}}
              </div>
            </div>
          </div>

          <div class="submit-button">
            <button (click)="delete(row.id)">delete</button>
          </div>
          
        </div>

 
      </div>
    </div>
  </div>