:root{
    --primary-color: #41B883;
    --accent-color: #7952B3;
    --text-color: #ffffff;
    --card-bg: #eeeeee;
}
body{
    background: #fff;
}
.card input[type="file"]{
    font-size: 1rem;
}
.card input[type="file"]::file-selector-button{
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 2rem;
    padding: .8rem 1.4rem;
    border: 0;
    cursor: pointer;
}
.card input[type="file"]::file-selector-button:hover{
    background: var(--accent-color);
}
.card{
    background-color: var(--card-bg);
    padding: 2rem;
    border: 1px dashed var(--card-bg);
    border-radius: 1rem;
}
.card h1{
    margin-top: 0;
}