
.upload-section {
  background-color: rgb(215, 220, 221);
  height: 100%;
  width: 100%;
  
}

.upload-card {
  margin: 0 auto;
  width: min(35rem, 100% - 1rem);

}

.title h2 {
  font-size: 26px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

.form-field {
  margin: auto;
  width: min(35rem, 100%);
  height: 40px;
  border: 1.5px solid grey;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.form-field input {
  width: 34rem;
  height: 32px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

.form-item {
  width: 100%;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.submit-button {
  margin-top: 1rem;
  width: 200px;
  height: 40px;
  color: white;
  background-color: rgb(31, 31, 108);
}

#video, #thumbnail {
  width: min(35rem, 100%);
}

.file-upload-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1.5rem;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
}

.image img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.thumbnail, .video {
}

