<div class="container">
    <div class="frame">
      <div class="nav">
        <ul class="links">
          <li class="signin-active" (click)="route('auth/login')"><a class="btn">Sign in</a></li>
          <li class="signup-inactive" (click)="route('auth/sign-up')"><a class="btn">Sign up </a></li>
        </ul>
      </div>
      <div ng-app ng-init="checked = false">
                      <form class="form-signin" action="" method="post" name="form">
            <label for="email">Email</label>
            <input class="form-styling" type="text" [(ngModel)]="loginData.email" type="text"  #email="ngModel" name="email" placeholder="" required/>
            <span *ngIf="email.invalid && email.touched" style="color: red; font-size: 14px;">*this.field is required</span>
            <label for="password">Password</label>
            <input class="form-styling" type="text" [(ngModel)]="loginData.password"  #password="ngModel" name="password" type="password" matInput type="password"  placeholder="" required/>
            <span *ngIf="password.invalid && password.touched" style="color: red; font-size: 14px;">*this.field is required</span>
            <div class="btn-animate" (click)="login()">
            <app-loader *ngIf="loader"></app-loader>
              <a class="btn-signin" *ngIf="!loader">Sign in</a>
            </div>
                      </form>
          
            <form class="form-signup" action="" method="post" name="form">
              
              </form>
        
        </div>
        
        <div class="forgot">
          <a (click)="route('auth/forgot-password')">Forgot your password?</a>
        </div>
 
    </div>
      

  </div>