
 
<div class="upload-section">
 
    <div class="section">
      <div class="upload-card">
  
        <div class="title">
          <h2>Video Upload</h2>
        </div>
  
        <div class="form">
          <div class="form-item">
            <label for="title">Title</label>
            <div class="form-field display-flex-center">
              <input name="title" type="text"  id="title" required> 
            </div>
          </div>
          </div>
          <div class="form-item">
            <label for="description">Description</label>
            <div class="form-field display-flex-center">
              <input  name="description" type="text" id="description">
            </div>
          </div>

          <div class="form-item">
            <label for="description">Description</label>
            <div class="form-field display-flex-center">
                <textarea cols="4" rows="5">
                    Some text inside the text box.  
                    See https://www.w3schools.com/tags/tag_textarea.asp
                </textarea>
            </div>
          </div>
    
          <div class="submit" >
            <button class="submit-button display-flex-center">
              <app-loader></app-loader>
              <span>Upload file</span>
            </button>
          </div>
        </div>
      </div>
    </div>
