<div class="container d-flex justify-content-center align-items-center">
    <div class="card py-4">

       <div class="d-flex justify-content-center align-items-center">
         <div class="round-image">
           <img src="https://i.imgur.com/Mn9kglf.jpg" class="rounded-circle" width="97">
         </div>
       </div>

       <div class="text-center">

         <h4 class="mt-3">Noora Smith</h4>
         <span>Account Manager</span>

         <div class="px-5">
           <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

           <button class="btn btn-primary follow">Follow Me</button>
         </div>

         

         
       </div>
      
    </div>
     </div>