<div class="header">
    <div class="header-content">
      <div class="logo" (click)="route('main/uploads')">Company Logo</div>
      <div class="menu">
        <nav (click)="route('main/video-uploads')">Video upload</nav>
        <nav (click)="route('main/content-uploads')">Content upload</nav>
        <nav (click)="route('main/uploads')">Videos</nav>
        <nav (click)="route('main/contents')">Contents</nav>
        <nav (click)="logout('auth/login')" >Logout</nav>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>


