<div class="container">
    <div class="frame">
      <div class="nav">
        <ul class="links">
          <li class="signin-active" (click)="route('auth/login')"><a class="btn">Reset Password</a></li>
         
        </ul>
      </div>
      <div ng-app ng-init="checked = false">
                      <form class="form-signin" action="" method="post" name="form">
            <label for="username">New Password</label>
            <input class="form-styling" type="text" name="registered email" placeholder=""/>
           
            <div class="btn-animate">
              <a class="btn-signin" (click)="route('auth/login')">Reset Password</a>
            </div>
                      </form>
        
        </div>
        
       
 
    </div>
      

  </div>