<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class="links">
        <li class="signin-active"><a class="btn">Reset Passsword</a></li>
       
      </ul>
    </div>

    <div ng-app ng-init="checked = false">
        <form class="form-signin" action="" method="post" name="form">
          <label for="username">new password</label>
          <input class="form-styling" type="text" name="registered email" placeholder="enter OTP"/>
         
          <div class="btn-animate">
            <app-loader *ngIf="loader"></app-loader>
            <a class="btn-signin" *ngIf="!loader" (click)="reset_password()">Verify</a>
          </div>
            </form>
        
          <form class="form-signup" action="" method="post" name="form">
            
        </form>

        <div class="forgot">
          <a (click)="route('auth/login')">Login</a>
        </div>
      
      </div>
      
      <div class="forgot">
      <a (click)="route('auth/login')">Login</a>
    </div>

  </div>
    

  </div>