/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
html, body { height: 100%; }
body { 
    margin: 0 auto; 
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #FCFAFA; 
    overflow: scroll;
    font-size: var(--font-size2);
    
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #2f11a5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #802a2a;
  }
